@font-face {
    font-family: 'sport';
    src: url("/static/fonts/Sport.ttf");
}

@font-face {
    font-family: 'sporter';
    src: url("/static/fonts/Sporter.ttf");
}

h1 {
    font-family: sport;
}