<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
    <script>
        var events = [
                    {
                        "title": " viaje ",
                        "start": "2023-05-12T10:30:00",
                        "end": "2023-05-14T11:30:00",
                    },

                    {
                        "title": " bateria ",
                        "start": "2023-05-26T15:00:00",
                        "end": "2023-05-26T16:00:00",
                    },

                    {
                        "title": " terapias ",
                        "start": "2023-05-26T18:00:00",
                        "end": "2023-05-26T20:00:00",
                    },
                    {
                        "title": " basket ",
                        "start": "2023-05-30T18:00:00",
                        "end": "2023-05-30T20:00:00",
                    },
                    {
                        "title": " Orlando camp ",
                        "start": "2023-05-10T00:00:00",
                        "end": "2023-05-25T00:00:00",
                    },
                    {
                        "title": " bateria-bar ",
                        "start": "2023-05-27T17:10:00",
                        "end": "2023-05-27T18:00:00",
                    },
                    {
                        "title": " tareas ",
                        "start": "2023-05-17T13:50:00",
                        "end": "2023-05-17T14:00:00",
                    },
                    {
                        "title": " partidos-NBA ",
                        "start": "2023-05-17T16:30:00",
                        "end": "2023-05-17T20:00:00",
                    },
                    {
                        "title": " GS vs LAL ",
                        "start": "2023-05-06T17:30:00",
                        "end": "2023-05-06T19:00:00",
                    },
                    {
                        "title": " programacion ",
                        "start": "2023-05-09T19:30:00",
                        "end": "2023-05-17T09:20:30:00",
                    },
                ]
                    
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listMonth,timeGridWeek,listWeek,timeGridDay'
                },
          locale: 'es',
          initialView: 'dayGridMonth', 
          events : events,
          eventColor: '#26B789',

        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html> 