{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>User Authentication System</title>

    {% block style %}
    {% endblock style %}
</head>
<body>
    {% include "users/menu.html" %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="contenedor">
        <div class="w3-circle">
        <a
           href="https://api.whatsapp.com/send?phone=573053229707&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20baloncesto%20%F0%9F%8F%80%E2%9B%B9%EF%B8%8F%E2%80%8D%E2%99%82%EF%B8%8F%E2%9B%B9%EF%B8%8F%E2%80%8D%E2%99%80%EF%B8%8F%E2%9B%B9%EF%B8%8F%E2%80%8D%E2%99%82%EF%B8%8F%E2%9B%B9%EF%B8%8F">
            W
        </a>
    </div>

    </div>

</body>
</html>
