{% extends 'users/base.html' %}

{% block style %}
 
{% endblock style %}

{% block content %}
<h1>Historia</h1>
<a class="fnt-2"> MISION </a>

    Nuestra MISIÓN es potenciar las cualidades de niños, niñas y jóvenes brindando oportunidades de crecimiento para la vida, a través de un acompañamiento integral de la familia, entrenadores y equipo, por medio del baloncesto.
   
   <h1> VISION </h1>
   
   Para el 2024 tendremos un modelo deportivo y una filosofía de vida aplicada a través del baloncesto en diferentes ciudades de Colombia.</p>
{% endblock content %}